@model MovieWebApp.Pages.Movies.DetailsModel

<div>
    <h4>Movie</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Description)
        </dd>
    </dl>
</div>
<div class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Movie.Image)
    </dt>
    <dd class="col-sm-10">
        <img width="300" height="300" id="imgPreview"
             src='@(Model.Movie.ImageUrl == null ? $"https://fakeimg.pl/300x300/?text={Model.Movie.Title}" : "/uploads/images/" + Model.Movie.ImageUrl)'
             alt="@Model.Movie.Title"/>
    </dd>
</div>