@page
@model MovieWebApp.Areas.Admin.Pages.Users.ManageRoles

@{
    ViewData["Title"] = "Users Manage Roles";
}

<form method="post">
    <h1 class="text-danger" condition="@(ViewData["ErrorMessage"] != null)">@ViewData["ErrorMessage"]</h1>
    <div class="card" condition="@(ViewData["ErrorMessage"] == null && Model.UserRoles != null)">
        <div class="card-header">
            <h2>Manage User Roles</h2>
            Add/Remove Roles for User / <b>@ViewData["UserName"]</b>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.UserRoles.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.UserRoles[i].RoleId"/>
                    <input type="hidden" asp-for="@Model.UserRoles[i].RoleName"/>
                    <input asp-for="@Model.UserRoles[i].Selected" class="form-check-input"/>
                    <label class="form-check-label" asp-for="@Model.UserRoles[i].Selected">
                        @Model.UserRoles[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto"/>
            <a asp-page="./Index" class="btn btn-danger" style="width:auto">Cancel</a>
        </div>
    </div>
</form>